@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cabin:600,600i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');


body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

h1, h2 {
  font-family: 'Merriweather Sans', sans-serif;
}

h3 {
  font-family: 'Merriweather Sans', sans-serif;
}

.remark-code, .remark-inline-code {
  font-family: "Source Code Pro", "Lucida Console", monospace;
}
